body {
  font-family: "Open Sans", sans-serif;
}

/* Nav-Elemente */
nav {
  display: inline-block;
}

.nav-link {
  color: #505656;
  font-size: 1.3em;
}

.nav-link:hover {
  color: black;
}

/* Willkommen-Hintergrund */
.graueBox {
  width: 100%;
  height: 3em;
}

/* "Über mich" Text */
.home_h1 {
  text-align: center;
}

.home_p {
  margin-left: auto;
  margin-right: auto;
}

/* Kontakt-Formular */
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  color: #283d50;
  font-size: 17px;
}

#contact .form button {
  background: #343a40;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button:hover {
  background: #cbc5bf;
  color: #343a40;
  cursor: pointer;
}

/* Impressum und Datenschutz */

#impressum,
#datenschutz {
  margin: 3em 10em;
  /* TODO Impressum stylen */
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#page-footer {
  background: #343a40;
}

#page-footer a,
#page-footer p {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#page-footer a:hover {
  color: #cbc5bf;
}

/*--------------------------------------------------------------
  # Responsive Media Queries
  --------------------------------------------------------------*/

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 1.5vw;
    margin: 0 0.25vw;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 574px) {
  .nav-link {
    font-size: 14px;
    margin: 0 2.5vw;
  }
}
